<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestLua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16758F5D192060FB0050C86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16758F7E192060FC0050C86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16758F991920615F0050C86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16758FA61920615F0050C86F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
